<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<!-- <body style="background-color: #dad7cd;"> -->

<body style="background-color: #36151e; color:wheat">
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">DJANGO CRUD OPERATION !</h2>

        {% block content %}

        {% endblock content %}
    </div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>

</html>